<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
    <img src="/assets/images/add.png" alt="add icon"/>
</div>
</div>
<form method="post" action="/diary_entries/save">
    <div class="container-fluid">
        <input type="hidden" name="saveMethod" value="{{#if isCreate}}create{{else}}update{{/if}}">
        <input type="hidden" name="entryKey" value="{{ entryKey }}">

        <div class="form-group row justify-content-center">
            <div class="col-4 col-md-2 font-weight-bold">
                <label class="col-form-label" for="day">Date</label>
            </div>
            <div class="col-8 col-md-4">
                <input class="form-control border border-dark" type="date" name="day">
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-4 col-md-2 font-weight-bold">
                <label class="col-form-label" for="title">Title</label>
            </div>
            <div class="col-8 col-md-4">
                <input class="form-control border border-dark" type="text" name="title"/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-4 col-md-2 font-weight-bold">
               <label for="body">Your Thoughts</label>
            </div>
            <div class="col-8 col-md-4">
                <textarea class="form-control border border-dark" rows="4" name="body"></textarea>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-4 col-md-2 font-weight-bold">
                <input type="submit" class="btn btn-primary" value="Save"/>
            </div>
        </div>

    </div>
</form>