<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <img class="border border-dark rounded" src="/assets/images/journal.jpg" alt="journal image"/>
    </div>
</div>