<header>
    <h1>{{ pageHeading }}</h1>
    <div class="navbar">
        <p>
            <a href="/">
                Home
                <a href="/diary_entries/viewAll">View All</a>
                <a href="/diary_entries/add">Add</a>
            </a>
        </p>
    </div>
</header>