<!DOCTYPE html>
<html>
  <head>
      <title>{{browserTitle}}</title>
      {{#each styles}}
          <link rel='stylesheet' href='{{this}}'/>
      {{/each}}
  </head>
  <body>
    {{> header}}
    {{{body}}}
  </body>

</html>
